.CompanyCard {
  border-radius: 3px;
  padding: 10px 10px 0px 10px;
  width: 400px;
  max-height: 215px;
  min-height: 215px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  #CompanyShow, #CompanyEdit {
    max-height: 215px;
    min-height: 215px;
    transition: margin-top 1s ease;
  }
  .CompanyCardHeader {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0px 0px 10px 0px;
    }
    .Circle {
      cursor: pointer;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #50cc71;
      transition: background-color 0.5s ease;
      &:hover {
        background-color: #67f58d;
      }
    }
  }
  p {
    margin: 0px;
  }
  .Description {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
    font-style: italic;
  }
  #CompanyEdit {
    margin-top: 215px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 215px;
      .CompanyInputs {
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 5px;
          padding: 5px;
        }
      }
      .FormButtons {
        width: 420px;
        margin-left: -10px;
        button {
          width: 50%;
          height: 30px;
          border: none;
          border-top: 1px solid blue;
          background-color: #ffffff;
          transition: 0.3s ease;
          &:hover {
            background-color: blue;
            color: #ffffff;
            cursor: pointer;
          }
          &:first-child {
            border-right: 1px solid blue;
          }
        }
      }
    }
  }
}
