.Companies {
  .CompaniesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid #474747;
    h1 {
      margin: 10px 0px;
    }
    .BtnNewCompany {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #50cc71;
      border: none;
      border-radius: 3px;
      transition: background-color 0.5s ease;
      &:focus {
        border: none;
        outline: none;
      }
      &:hover {
        cursor: pointer;
        background-color: #67f58d;
      }
    }
  }
  .CompaniesContent {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
}
