.Search {
  text-align: center;
  input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #499999;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    transition: padding 0.3s ease;
    &:focus, &:active {
      outline: none;
      border-color: #ffffff;
      border-bottom: 2px solid #499999;
      padding: 20px 0px 0px 0px;
      border-radius: 0px;
    }
  }
}
