.Company {
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 450px;
  &.Active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h2 {
    margin: 5px 0px;
  }
  p {
    margin: 5px 0px;
    color: grey;
    font-size: 14px;
    font-style: italic;
  }
  &:hover {
    cursor: pointer;
  }
}
